extends default

block main
  .docs-section
    if (title) 
      h1.docs-header= title
    else
      .space 
    != content

block header
  if (header == "hero")
    include hero

block footer
  if (footer == "recent_blogs")
    include recent_blogs