html
  include includes/head
  body.pushable
    include includes/topnav
    // Page Contents
    .pusher
      .ui.vertical.masthead.center.aligned.basic.segment
        include includes/heronav
        .ui.text.container
          h1.ui.header
            | Open Integrity
          h2 Metrics for Tool Security and Privacy
          .ui.hidden.divider
          .ui.huge.primary.button
            | Get Started 
            i.right.arrow.icon
      .ui.vertical.center.aligned.basic.segment
        .ui.five.columns.centered.stackable.grid
          .column
          .column.centered.aligned
            #sparkline
            h3.ui.sub.header Coverage / Freshness
          .column
            .column.centered.aligned
              .segment
                .ui.statistics
                  .statistic.last
                    .value 5
                    .label Tools
                  .statistic.last
                    .value 6
                    .label Sources
            .column.centered.aligned
              .segment
                .ui.statistics
                  .statistic.last
                    .value 60
                    .label Metrics
                  .statistic.last
                    .value 1
                    .label Consumers
          .column.centered.aligned
            .ui.small.feed
              .event
                .label
                  i.mini.pencil.icon
                .content
                  .date 1 Hour Ago
                  .summary
                    a.user Elliot Fu
                    |  added a new tool
              .event
                .label
                  i.mini.calendar.icon
                .content
                  .date 3 days ago
                  .summary
                    a.metric Skype Terms of Services 
                    | outdated
                  .extra.text
                    a(href='http://example.com') Help us review the new page!
              .event
                .label
                  i.mini.pencil.icon
                .content
                  .date 4 days ago
                  .summary
                    a Coverage updated
                    |  added 
                    a 14 out of 60 metrics covered 
          .column
      .ui.vertical.stripe.segment
        .ui.text.container
          h3.ui.header Breaking The Grid, Grabs Your Attention
          p
            | Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
          a.ui.large.button Read More
          h4.ui.horizontal.header.divider
            a(href='#') Case Studies
          h3.ui.header Did We Tell You About Our Bananas?
          p
            | Yes I know you probably disregarded the earlier boasts as non-sequitor filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
          a.ui.large.button I'm Still Quite Interested
      .ui.inverted.vertical.footer.segment
        .ui.container
          .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
              h4.ui.inverted.header About
              .ui.inverted.link.list
                a.item(href='#') Sitemap
                a.item(href='#') Contact Us
                a.item(href='#') Religious Ceremonies
                a.item(href='#') Gazebo Plans
            .three.wide.column
              h4.ui.inverted.header Services
              .ui.inverted.link.list
                a.item(href='#') Banana Pre-Order
                a.item(href='#') DNA FAQ
                a.item(href='#') How To Access
                a.item(href='#') Favorite X-Men
            .seven.wide.column
              h4.ui.inverted.header Footer Header
              p
                | Extra space for a call to action inside the footer that could help re-engage users.
  include includes/foot
