script(src='assets/library/jquery.sparkline.min.js')
script.
  $(function() {
    var coverage = [ 0, 0, 0, 2, 3, 6, 14];
    var sparkline = function() {
      $('#sparkline').sparkline(
        coverage,
        {
            type: 'line',
            width: '250px',
            height: '150',
            chartRangeMin: '0',
            chartRangeMax: '20',
            lineColor:'blue',
            fillColor: false,
            tooltipPrefix: 'Coverage: '
        });

    var freshness = [ 0, 0, 0, 0, 1, 2, 4];
      $('#sparkline').sparkline(
        freshness,
        {
            composite: true,
            type: 'line',
            chartRangeMin: '0',
            chartRangeMax: '20',
            lineColor:'black',
            fillColor: '#f9f9fe',
            tooltipPrefix: 'Freshness: '        
        });
    }

    var sparkResize;
   
    $(window).resize(function(e) {
      clearTimeout(sparkResize);
      sparkResize = setTimeout(sparkline, 500);
    });

    sparkline();
  });
