.ui.container
  .ui.large.secondary.pointing.menu
    a.toc.item
      i.sidebar.icon
    a.active.item Home
    a.item Tools
    a.item Topics
    a.item Scores
    a.item About
    .right.item
      a.ui.button Log in
      a.ui.button Sign Up