// Following Menu
.ui.large.top.fixed.secondary.pointing.hidden.menu
  .ui.container
    a.active.item Home
    a.item Tools
    a.item Topics
    a.item Scores
    a.item About
    .right.item
      a.ui.button Log in
      a.ui.button Sign Up
// Sidebar Menu
.ui.vertical.inverted.sidebar.menu.left
  a.active.item Home
  a.item Tools
  a.item Topics
  a.item Scores
  a.item About
  a.item Login
  a.item Signup
