.value-props.row
  .four.columns.value-prop
    img.value-img(src='images/users_pix.svg',width="30%")
    |           We care about the impact of technology on at-risk and mainstream users.
  .four.columns.value-prop
    img.value-img(src='images/holistic_pix.svg',width="30%")
    |           We take a holistic approach to understanding the impact of technology
  .four.columns.value-prop
    img.value-img(src='images/security_pix.svg',width="30%")
    |           We believe in security and privacy by design and with transparency