hr
.section.get-help
  .container
    h3.section-heading Want to join the initiative?
    p.section-description
      | Open Integrity needs your help to provide the best and most up to date information. Get in touch to join the initiative !
    a.button.button-primary(href='mailto:contact@openintegrity.org') Get in touch
.section.categories
  .container
    .row
      .two.columns
        | &nbsp;
      .eight.column.category
        h4 Developed with ❤ by
        a(href="https://iilab.org"): img.u-max-full-width(src=site.baseurl+'/images/iilab_white.svg')
        h5 Information Innovation Lab
        p Applied research and development of public interest technology.
      .two.columns
        | &nbsp;