extends default

block main
  != content
  - var capitalize = function(text){ return text.toLowerCase().replace( /\b\w/g, function (m) { return m.toUpperCase(); }) };
  each list in index
    = capitalize(list.replace(/\//g, ' '))
    ul
      each report in site[list]
        - var report_name = report.datebasename ? capitalize(report.datebasename.replace(/-/g,' ')) : report.path.split('/').pop()
        li: a(href=site.baseurl+"/"+report.path)= report_name