- var crumbs = path.split('/')
- var crumbs_path = ""
- var capitalize = function(text){ return text.toLowerCase().replace( /\b\w/g, function (m) { return m.toUpperCase(); }) };
.crumb.u-pull-left
  a(href=site.baseurl) Home
  |  
  each crumb,i in crumbs 
    - var crumb_display = crumb.replace('-',' ').replace('.html', '')
    - crumbs_path = crumbs_path + "/" + crumb
    if i==crumbs.length -1 
      | / 
      = capitalize(crumb_display)
    else
      | / 
      a(href=site.baseurl+crumbs_path+'/')= capitalize(crumb_display)
      |   